<div class="row"> 
  <h2>Your Topics</h1> 
  <div class="col-md-12"> 
    <% @topics.each do |topic| %> 
    <div class="media"> 
      <div class="media-body"> 
        <h4 class="media-heading" > 
          <%= link_to topic.title, topic %> 
        </h4> 
        <div id="js-topic">
          <%= render partial:'bookmarks/bookmark', collection:@bookmarks%>
        </div>
      </div> 
    </div> 
    <% end %>
  </div>
</div>

<div class= "row">
  <h2> Your Liked Bookmarks</h1>
  <div class="col-md-12">
    <div class='js-bookmarks'>
        <%= render partial:'bookmarks/bookmark', collection:@liked_bookmarks%>
    </div>
  </div>
</div>



