<h1>
  Topics
  <% if policy(Topic.new).create? %> 
  <small>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %> 
    <% end %>
  </small>
</h1> 
<div class="row"> 
  <div class="col-md-12"> 
    <% @topics.each do |topic| %> 
      <h2 style="margin-top:50px, alignment-baseline:bottom"><%= link_to topic.title, topic %></h2> 
      <hr class="divider"></hr>
      <div class="row">
        <%= render partial:'bookmarks/bookmark', collection:topic.bookmarks%>  
      </div>
    <% end %> 
  </div> 
</div>