<div class="row">
  <div class="col-md-12">
    <h1><%= @topic.title%></h1>
      <p>
    <% if policy(@topic).destroy? %>
      <%= link_to "Delete Topic", @topic, method: :delete, class:'btn btn-danger', data:{confirm:'Are you sure to delete this topic?' }%>
    <% end %>
  </p>

    <div class='js-bookmarks'>
        <%= render partial:'bookmarks/bookmark', collection:@bookmarks%>
    </div>
    <% new_bookmark = @topic.bookmarks.new %>
  </div>
</div>
<div class = "row">
      <% if policy(new_bookmark).create? %>
    <div class= 'new-bookmark'>
      <%= render partial:'bookmarks/form', locals:{topic: @topic, new_bookmark: new_bookmark}%>
    </div>
    <% end %>
</div>


