<% if @bookmark.destroyed? %>
  $('#bookmark-' +<%= @bookmark.id %>).hide();
<%else%>
  $('#bookmark' +<%= @bookmark.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>